html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #343434;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 1%;
  background-color: #1f2937;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chartdiv {
  display: flex;
  background-color: #343434;
  display: flex;
  height: 100%;
}

.button-arr{
  display: flex;
  flex-direction: row;
}

#lang-buttons-arr{
  padding-right: 50px;
}

button{
  border: none;
  background: none;
  padding: 0%;
}

button img{
  width: 50px;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #fff6f6;
}

