html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #343434;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  margin: 0%;
  background-color: #1f2937;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}

.chartdiv {
  display: flex;
  background-color: #343434;
  display: flex;
  height: 100%;
}

.button-arr{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

}

#lang-buttons-arr{
  padding-right: 10px;
}

button{
  border: none;
  background: none;
  padding: 0%;
}

img{
  width: 50px;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #fff6f6;
}

.toggle-container {
  position: relative;
  display: inline-block;
  align-self: center;
  width: 60px;
  height: 34px;
}

.toggle_icon{
  padding-left: 10px;
  padding-right: 10px;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
}

.utilities-arr{
  display: flex;
  /*padding-left: 50px;*/
}

.toggle-label:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 4px;
  left: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="checkbox"]:checked + .toggle-label {
  background-color: #2196F3; /* Toggle switch background color when checked */
}

input[type="checkbox"]:checked + .toggle-label:before {
  transform: translateX(26px); /* Move the switch handle to the right when checked */
}
